.trend-data__contain{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 470px;
}

.w-trends{
  &__heading{
    font-size: 14px;
    color: #FFFFFF;
    margin-bottom: 20px;
  }
}

.trend-data-item{

  span{
    display: block;
    text-align: center;

    &:first-of-type{
      font-size: 20px;
    }

    &:last-of-type{
      opacity: 0.5;
      font-size: 12px;
    }
  }

}
