.trend-data__contain{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.trend-data-item{

  span{
    display: block;
    text-align: center;

    &:first-of-type{
      font-size: 22px;
    }
  }

} 
