*{
  margin: 0;
  padding: 0;
  font-family: helvetica;
  font-weight: 100;
  line-height: 1.35;
}

html{
  background-color: #2E2F3C;
}

html,
body,
#root{
  height: 100%;
  overflow-x: hidden;
}

ul li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

.overview__text{
  opacity: 0.5;
  font-size: 12px;
  text-align: center;
  color: #FFFFFF;
}

/* ------------------

NAV MENU ( TEMPORARY!! )

--------------------- */

.nav-menu ul li{
  margin-bottom: 20px;
}

.nav-menu ul li a:hover{
  opacity: 1;
}

.nav-menu ul li a{
  color: #FFFFFF;
  opacity: 0.5;
}

/* ------------------

LAYOUT ( TEMPORARY!! )

--------------------- */

.main-content-area{
  padding: 50px;
}

.App{
  display: grid;
  grid-template-columns: 25% 1fr;
  min-height: 100%;
}

.p-section{
  margin: 20px 0;
}

.overview,
.story-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  color: #FFFFFF;
}

.overview-item{
  position: relative;
  flex-grow: 1;
}