*{
  margin: 0;
  padding: 0;
}

html{
  background-color: #2E2F3C;
}

html,
body,
#root{
  height: 100%;
}

/* ------------------

LAYOUT ( TEMPORARY )

--------------------- */

.App{
  display: grid;
  grid-template-columns: 25% 1fr;
  min-height: 100%;
}

.story-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.story-container div{
  background-color: #AF2;
}

.sidebar{
  background-color: #22222C;
}
