*{
  margin: 0;
  padding: 0;
}

html{
  background-color: #2E2F3C;
}

body{
  height: 100%;
  margin: 0;
}

/* ------------------

LAYOUT ( TEMPORARY )

--------------------- */

.App{
  display: grid;
  grid-template-columns: 25% 1fr;
  min-height: 100%;
}

.sidebar{
  background-color: #22222C;
}
