.premium-cta{
  text-align: center;
  position: absolute;
  bottom: 0;
}

.premium-cta h4{
  font-weight: bold;
}

.premium-cta h4,
.premium-cta p{
  color: #FFFFFF;
}

.premium-cta p{
  font-size: 12px;
  margin-bottom: 20px;
}

.premium-cta svg{
  fill: #FFFFFF;
  width: 30px;
  height: auto;
}

.btn{
  background: rgb(2,0,36);
  background: linear-gradient(59deg, rgba(2,0,36,1) 0%, rgba(122,119,255,1) 0%, rgba(149,115,243,1) 54%, rgba(172,112,233,1) 100%);
  color: #FFFFFF;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 12px;
}
