.nav-menu {
  ul {
    li {
      margin-bottom: 20px;

      a{
        color: #FFFFFF;
        font-size: 14px;

        svg{
          width: 12px;
          height: auto;
          fill: #FFF;
        }
      }
    }
  }

}
