.w-online{
  color: #FEFEFE;
  text-align: left;

  &__heading{
    font-size: 14px;
    color: #FFFFFF;
    margin-bottom: 20px;
  }

  &__now{
    font-size: 120px;
  }

  &__percentage{
    position: absolute;
  }

  &__text{
    margin: 0;
    font-size: 12px;
  }

}